*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
header{
  background-color: #dc9a38;
  color: #fff;
} 
header>.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
header h4{
  text-transform: uppercase;
}
header ul{
  list-style: none;
  display: flex;
}
header ul li{
  margin-left: 10px;
  border-right: 1px solid #fff;
  padding-right: 10px;
}
header ul li:last-child{
  border-right: none;
}
.duongvien{
  box-shadow: 0 4px 6px rgb(214, 213, 213);
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.menu ul{
    list-style: none;
    display: flex;
   
}
.menu ul a{
    margin-left: 20px;
    text-decoration: none;
    color: #704713 ;
    font-weight: 300;
}
.menu ul li a:hover{
    color: #dc9a38 ;
    border: #dc9a38 1px solid;
    border-radius: 30px;
    padding: 5px 10px;
}
.menu img{
    width : 200px;
    margin-top: 20px;
}
.service h2{
  text-align: center;
  color: #704713;
  margin-top: 10px;
}
.dichvu{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 50px;
}
.service figure{
  text-align: center;
}
.service img{
  border-radius: 50%;
  height: auto;
  width: 120px;
  border: 1px solid #dc9a38;
}

.gift{
  background-color: #666;
  margin-top: 30px;
  text-align: center;
}
.listgift{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 20px 0px;
  flex-wrap: wrap;
}
.card{
  background-color: #fff;
  padding: 10px 0;
  border-radius: 4px;
  width: 250px;
}
.card img{
  width: 100%;
  height: auto;
}
.old-price{
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}
.new-price{
  color: #ed1c24;
}
.gift h2{
  color: #fff;
  margin-bottom: 10px;
  padding-top: 20px;
  font-weight: 500;
}
.card h3{
  color: #704713 ;
  margin: 10px 10px 5px 10px;
  font-weight: 400;
}
.chon{
    display: inline-block;
    background-color: #dc9a38 ;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
}
.chon:hover{
  background-color: #b2762a ;
}
.option{
  text-align: center;
  background-color: #fff;
  margin-top: 30px;
}
.list-option{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  text-align: center;
}
.pack{
  display: inline-block;
  background-color: #fff;
  padding: 0 0 10px 0;
  width: 250px;
  overflow: hidden;
}
.pack li{
  list-style: none;
  margin: 10px 0;
  color: #666 ;
  font-weight: 400;
  border-bottom: 1px solid #f0f0f0;
}
.price{
  color: #ffffff;
  margin: 0 0 4px 0;
  background-color: #dc9a38;
  padding: 10px;
}
.pack:hover{
  border: #b2762a 2px solid;
}
.mxh{
    background-color: rgb(38, 38, 38);
}
.hotline{
    display: flex;
    color: #fff;
    text-align: left;
    
}
.fisrt{
    flex:1;
    padding: 40px 20px 40px 0;
}
.second{
    flex:1;
    padding: 40px;
    text-align: left;
}
.third{
    flex:1;
    padding: 40px;
}
.hotline img{
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.fisrt>p{
    margin-top: 10px;
}
.hotline h4{
    margin-bottom: 10px;
    font-weight: bold;
}
footer ul{
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 15px;
    margin: 0;
    text-align: left;
}
.bottom-bar{
    background-color: #dc9a38;
}
.bottom-bar-list{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #fff;
}


